 
<form action="/oss/upload/image" method="post" enctype="multipart/form-data">
    <input type="text" name="AccessKeyId" value="oss-key-123" />
    <input type="text" name="VERB" value="POST" />
    <input type="text" name="bucket" value="avater" />
    <input type="text" name="signature" value="8B4DA387B38814A04E0007661A8B5CDE60C60354" />
    <input type="file" name="file1" value="" />
    <button type="submit">上传</button>
</form>
