

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewData["Title"]</title>
    <link href="~/ace/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/ace/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/ace/css/jquery.gritter.css" rel="stylesheet" />
    <link href="~/ace/css/ace-fonts.css" rel="stylesheet" />
    <link href="~/ace/css/ace.min.css" rel="stylesheet" />
    <link href="~/ace/css/ace-skins.min.css" rel="stylesheet" />
    <link href="~/ace/css/ace-rtl.min.css" rel="stylesheet" />
    <link href="~/ace/css/ace-part2.min.css" rel="stylesheet" />
    <link href="~/ace/css/jquery-ui.custom.min.css" rel="stylesheet" />
    <link href="~/ace/css/bootstrap-editable.css" rel="stylesheet" />
    <link href="~/ace/css/datepicker.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <script src="~/ace/js/ace-extra.min.js"></script>
    <script src="~/ace/js/jquery.min.js"></script>
    <style>
        td {
            vertical-align: middle !important;
        }
    </style>
</head>
<body class="no-skin">
    <div class="main-container" id="main-container">
        <div class="main-content">
            @RenderBody()
        </div>
    </div>
    <script src="~/ace/js/bootstrap.min.js"></script>
    <script src="~/ace/js/ace-elements.min.js"></script>
    <script src="~/ace/js/ace.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/ace/js/x-editable/bootstrap-editable.min.js"></script>
    <script src="~/ace/js/fuelux/fuelux.spinner.min.js"></script>
    <script src="~/ace/js/x-editable/ace-editable.min.js"></script>
    <script src="~/layer/layer.js"></script>
    <script src="~/js/jquery.form.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
