<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      throwExceptions="true"
      internalLogFile="logfiles/internal-nlog.txt">

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!--<target name="db"
            xsi:type="Database"
            connectionString="${var:NLOG_CONNECTION_STRING}"
            commandType="Text"
            commandText="insert into dbo.[sys_nlog]([TraceId],[EventId],[User], [Level], [Category], [Message], [Properties], [Exception], [ClientIP], [Logged]) 
        values(@traceId, @eventId, @user, @application, @level, @category, @message, @properties, @exception, @clientIP, @logged)">
      <parameter name="@traceId" layout="${aspnet-TraceIdentifier}" />
      <parameter name="@eventId" layout="${event-properties:EventId}" /> 
      <parameter name="@level" layout="${level}" />
      <parameter name="@category" layout="${logger}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@user" layout="${aspnet-user-identity}" />
      <parameter name="@properties" layout="${all-event-properties:separator=|}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@clientIP" layout="${aspnet-request-ip}" />
      <parameter name="@logged" layout="${date:universalTime=True}" />
    </target>-->

  <target xsi:type="Database"
            name="mysqldb"
            connectionString="${var:NLOG_CONNECTION_STRING}"
            dbProvider="MySql.Data.MySqlClient.MySqlConnection,MySqlConnector">

    <commandText> 
      insert into sys_nlog(traceid,logged,level,message,logger,callsite,exception,clientip,category,eventid,properties,user)
      values(@traceId,@logged,@level,  @message,@logger,@callSite,  @exception,@clientIP,@category,@eventId, @properties,  @user );
    </commandText>

    <parameter name="@traceId" layout="${aspnet-TraceIdentifier}" />
    <parameter name="@eventId" layout="${event-properties:EventId}" />
    <parameter name="@level" layout="${level}" />
    <parameter name="@category" layout="${logger}" />
    <parameter name="@message" layout="${message}" />
    <parameter name="@user" layout="${aspnet-user-identity}" />
    <parameter name="@properties" layout="${all-event-properties:separator=|}" />
    <parameter name="@exception" layout="${exception:tostring}" />
    <parameter name="@clientIP" layout="${aspnet-request-ip}" />
    <parameter name="@logged" layout="${date:universalTime=True}" />
    <parameter name="@callSite" layout="${callsite}" />
    <parameter name="@logger" layout="${logger}" />

  </target>
  </targets>


  <rules>
    <logger name="*" minlevel="Error" writeTo="mysqldb" />
  </rules>
</nlog>